

legend{
    color:brown;
    margin: 10px;
    text-align: center;

}

form{
    
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    
    
}
label{
    color:#15297c;
    margin: 10px;
}

textarea{
    margin: 10px;
}

input{
    margin: 2px;
}

#reset{
    margin: 10px;
}