.header--color{
    background-color:$color2;

}

.header__contenedor--formato{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.header__h1--formato{
    text-align:center;
    font-size: 40px;
    padding: 10px;
}

h1{
    color:rgb(0, 132, 255);
    padding-top: 1rem;
}